[submodule "include/portable-utf8"]
	path = include/portable-utf8
	url = https://github.com/voku/portable-utf8.git
[submodule "include/PHPMailer"]
	path = include/phpmailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "include/smarty"]
	path = include/smarty
	url = https://github.com/smarty-php/smarty.git
